olx api/token.py
olx api/olx.py
anunturi.csv
html.txt
news.json
1HOME_VSCODE/demutat/api.py
1HOME_VSCODE/demutat/auth.py
1HOME_VSCODE/demutat/crypto.csv
1HOME_VSCODE/demutat/news.json
1HOME_VSCODE/demutat/post.py
1HOME_VSCODE/demutat/postcoin.py
1HOME_VSCODE/demutat/radu.conf
1HOME_VSCODE/demutat/read.json
1HOME_VSCODE/demutat/writefromweb.json
1HOME_VSCODE/demutat/asd/radu.ovpn
1HOME_VSCODE/facebook/anunturi.csv
1HOME_VSCODE/facebook/asd.html
1HOME_VSCODE/facebook/new.csv
1HOME_VSCODE/facebook/post.py
1HOME_VSCODE/facebook/postare.py
1HOME_VSCODE/facebook/scrape.py
1HOME_VSCODE/facebook/scrape2.py
1HOME_VSCODE/PDF_APP/app.py
1HOME_VSCODE/PDF_APP/functions.py
1HOME_VSCODE/PDF_APP/__pycache__/functions.cpython-310.pyc
1HOME_VSCODE/project-openai/app.py
1HOME_VSCODE/project-openai/imagesearch.py
1HOME_VSCODE/project-openai/newtext.txt
1HOME_VSCODE/project-openai/size.py
1HOME_VSCODE/project-openai/speak.py
1HOME_VSCODE/project-openai/storytext.txt
1HOME_VSCODE/project-openai/TEXT.PY
1HOME_VSCODE/project-openai/__pycache__/imagesearch.cpython-310.pyc
1HOME_VSCODE/project-openai/__pycache__/size.cpython-310.pyc
1HOME_VSCODE/project-openai/__pycache__/speak.cpython-310.pyc
1HOME_VSCODE/project-openai/photos/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvam9iNjY5LTAyMS12LWwxYWR0Zm01LmpwZw.jpg
1HOME_VSCODE/project-openai/photos/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQzNi01LXM2NS0zMDIwMl8xLmpwZw.jpg
1HOME_VSCODE/project-openai/photos/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQzNi02LXM2NS0zMDQ0MzNfb3JpZy5qcGc.jpg
1HOME_VSCODE/project-openai/photos/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQzNi02LXM2NS0zMDQzM19vcmlnLmpwZw.jpg
1HOME_VSCODE/project-openai/photos/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGQzNi02LXM2NS0zMjkyOF9vcmlnXzEuanBn.jpg
1HOME_VSCODE/project-openai/photos/Don_pettit_operates_barn_door_tracker_aboard_ISS.jpg
1HOME_VSCODE/project-openai/photos/Ed_White_in_space_-_GPN-2006-000032.jpg
1HOME_VSCODE/project-openai/photos/Ed_White_performs_first_U.S._spacewalk_-_GPN-2006-000025.jpg
1HOME_VSCODE/project-openai/photos/Ed_White_with_Space_Gun_maneuvering_unit.jpg
1HOME_VSCODE/project-openai/photos/International_Space_Station_star_trails_-_JSC2012E052679.jpg
1HOME_VSCODE/project-openai/photos/International_Space_Station_star_trails_-_JSC2012E052684.jpg
1HOME_VSCODE/project-openai/photos/International_Space_Station_star_trails_-_JSC2012E053860.jpg
1HOME_VSCODE/project-openai/photos/International_Space_Station_star_trails_-_JSC2012E053861.jpg
1HOME_VSCODE/project-openai/photos/International_Space_Station_star_trails_-_JSC2012E053865.jpg
1HOME_VSCODE/project-openai/photos/International_Space_Station_star_trails_-_JSC2012E065055.jpg
1HOME_VSCODE/Project_PDF/5.pdf
1HOME_VSCODE/Project_PDF/6.pdf
1HOME_VSCODE/Project_PDF/7.pdf
1HOME_VSCODE/Project_PDF/concat.py
1HOME_VSCODE/Project_PDF/crop.py
1HOME_VSCODE/Project_PDF/main.py
1HOME_VSCODE/Project_PDF/split.py
1HOME_VSCODE/Project_PDF/voices.py
1HOME_VSCODE/Project_PDF/audio/2.mp3
1HOME_VSCODE/Project_PDF/audio/comenzi.txt
1HOME_VSCODE/Project_PDF/audio/merge.py
1HOME_VSCODE/Project_PDF/audio/mylist.txt
1HOME_VSCODE/tiktok/app.py
1HOME_VSCODE/tiktok/mylist.txt
1HOME_VSCODE/tiktok/news0.mp4
1HOME_VSCODE/tiktok/news1.mp4
1HOME_VSCODE/tiktok/news2.mp4
1HOME_VSCODE/tiktok/requirements.txt
1HOME_VSCODE/tiktok/run.sh
1HOME_VSCODE/tiktok/sendmail.py
1HOME_VSCODE/tiktok/word.py
1HOME_VSCODE/tiktok/__pycache__/word.cpython-310.pyc
1HOME_VSCODE/tiktok/audio/news0.mp3
1HOME_VSCODE/tiktok/audio/news1.mp3
1HOME_VSCODE/tiktok/audio/news2.mp3
1HOME_VSCODE/tiktok/ffmpeg/LICENSE
1HOME_VSCODE/tiktok/ffmpeg/README.txt
1HOME_VSCODE/tiktok/ffmpeg/bin/ffmpeg.exe
1HOME_VSCODE/tiktok/ffmpeg/bin/ffplay.exe
1HOME_VSCODE/tiktok/ffmpeg/bin/ffprobe.exe
1HOME_VSCODE/tiktok/ffmpeg/doc/bootstrap.min.css
1HOME_VSCODE/tiktok/ffmpeg/doc/default.css
1HOME_VSCODE/tiktok/ffmpeg/doc/developer.html
1HOME_VSCODE/tiktok/ffmpeg/doc/faq.html
1HOME_VSCODE/tiktok/ffmpeg/doc/fate.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-all.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-bitstream-filters.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-codecs.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-devices.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-filters.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-formats.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-protocols.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-resampler.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-scaler.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg-utils.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffmpeg.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffplay-all.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffplay.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffprobe-all.html
1HOME_VSCODE/tiktok/ffmpeg/doc/ffprobe.html
1HOME_VSCODE/tiktok/ffmpeg/doc/general.html
1HOME_VSCODE/tiktok/ffmpeg/doc/git-howto.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libavcodec.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libavdevice.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libavfilter.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libavformat.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libavutil.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libswresample.html
1HOME_VSCODE/tiktok/ffmpeg/doc/libswscale.html
1HOME_VSCODE/tiktok/ffmpeg/doc/mailing-list-faq.html
1HOME_VSCODE/tiktok/ffmpeg/doc/nut.html
1HOME_VSCODE/tiktok/ffmpeg/doc/platform.html
1HOME_VSCODE/tiktok/ffmpeg/doc/style.min.css
1HOME_VSCODE/tiktok/ffmpeg/presets/libvpx-360p.ffpreset
1HOME_VSCODE/tiktok/ffmpeg/presets/libvpx-720p.ffpreset
1HOME_VSCODE/tiktok/ffmpeg/presets/libvpx-720p50_60.ffpreset
1HOME_VSCODE/tiktok/ffmpeg/presets/libvpx-1080p.ffpreset
1HOME_VSCODE/tiktok/ffmpeg/presets/libvpx-1080p50_60.ffpreset
1HOME_VSCODE/tiktok/fonts/Kanit-Regular.ttf
1HOME_VSCODE/tiktok/fonts/Rubik-Light.ttf
1HOME_VSCODE/tiktok/fonts/Rubik-VariableFont_wght.ttf
1HOME_VSCODE/tiktok/input/back.png
1HOME_VSCODE/tiktok/input/New Text Document.txt
1HOME_VSCODE/tiktok/pics/output.png
audio/audio.mp3
audio/data.json
audio/srt.json
audio/srttojson.py
audio/story.txt
audio/test.mp3
audio/test.py
audio/test.vtt
audio/test2.py
olx api/test.py
olx api/__pycache__/token.cpython-310.pyc
tiktokv/main.py
curl_facebook
